@font-face {
  font-family: 'UniversCondensedBold';
  src: local('UniversCondensedBold'),
    url('./fonts/Univers_Condensed_Bold.ttf') format('truetype');
  font-weight: bold;
}

body {
  margin: 0;
  font-family: 'UniversCondensedBold';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(/public/background.png);
  background-size: cover;
  background-position: bottom;
}

html {
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
